<!DOCTYPE html>
<html>
  <head>
    <title>Occupations</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
  </head>
  <body>
    <h1 style="padding: 15px ; font-family:'Raleway', sans-serif ; text-align: center"><b>Occupations</b></h1>
    <table style="margin-left: auto ; margin-right: auto; font-family: 'Open Sans', sans-serif ; text-align: center ; border: 2px solid black ; border-radius: 5px">
      <th style="text-align: left ; padding: 10px">Occupations</th>
      <th style="text-align: right ; padding: 10px">Percents</th>
      {% for key, val in occudict %}
      <tr style="border: 2px solid black">
        <td style="text-align: left ; padding: 10px ; padding-right: 10px"> {{ key }} </td>
        <td style="padding: 10px ; padding-left: 15px"> {{ val }}% </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
