<!DOCTYPE html>
<html>
  <head>
    <title>Occupations</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/main.css">
  </head>
  <body>
    <h1><b>Occupations</b></h1>
    <table>
      <th class="box-leftu">Occupations</th>
      <th class="box-rightu">Percents</th>
      {% for key, val in occudict %}
      <tr>
        <td class="box-leftu"> {{ key }} </td>
        <td class="box-rightu"> {{ val[0] }}% </td>
      </tr>
      {% endfor %}
    </table>
    <h2>Random Occupation: {{ randoccu[0] }}, {{ randoccu[1] }}% </h2>
    <p><a href={{randoccu[2]}} target="_blank">Learn More<i class="fa fa-angle-right"></i></a></p>
  </body>
</html>
